body {
  background-color: #2B2733;
  color: #ffffff;
  padding: 0px;
  margin: 0px auto;
  font-family: Montserrat;
  display: flex;
  flex-wrap:wrap;
}

header {
  background-color: #46424D;
  margin:0px auto;
  width:100%;
}

h1 {
  font-weight: 300;
  display: flex;
  justify-content: center;
}

main {
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  width:67%;
}

h2 {
  display: block;
  margin: 20px 20px 0px 20px;
  color: #CBC9CF;
}

h3 {
  color: #FFF;
  margin-top: 10%;
}

form {
  display:flex;
  background-color: #46424D;
  padding: 20px 100px 100px 100px;
  margin:20px;
  width:93%;
  flex-direction:column;
}

aside {
  width:33%;
}

input {
  background: transparent;
  border: none;
  border-bottom: 1px solid #000000;
}

.category {
  width:20%;
  border: 2px solid #FFF;
  border-radius: 2px;
  background-color: #46424D;
  display: flex;
  flex-direction: column-reverse;
  font-size: 16px;
  align-items: center;
  color: #CBC9CF;
  height: 80px;
}

#button-layout {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

#study {
  background-image: url(./assets/study.svg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: 40px 40px;
}

#meditate {
  background-image: url(./assets/meditate.svg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: 40px 40px;
}

#exercise {
  background-image: url(./assets/exercise.svg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: 40px 40px;
}

input {
  background: transparent;
  border: none;
  border-bottom: 1px solid #CBC9CF
}

.timer-input {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width:40%;
}

#timer-layout {
  display: flex;
  justify-content: space-between;
}

.change-purple {
  border-color: purple;
}

.change-orange {
  border-color: orange;
}

#submit-form {
  width: 300px;
  margin-top: 30px

.submit-button {
  align-self: flex-end;
  width: 25%;
  padding: 1%;
  border-radius: 2px;
  margin-top: inherit;
  font-size: 14px;
}

.change-green {
  border-color: #B3FD78;
  outline: none;
  color: #B3FD78;
  background-image: url(./assets/study-active.svg);
}
