*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  background-color: #2B2733;
  color: #ffffff;
  padding: 0px;
  margin: 0px auto;
  font-family: Montserrat;
  display: flex;
  flex-wrap:wrap;
  font-weight: 300;
}

header {
  background-color: #46424D;
  margin:0px auto;
  width:100%;
}

h1 {
  font-weight: 300;
  display: flex;
  justify-content: center;
}

main {
  display:flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width:66%;
}

h2 {
  display: block;
  margin: 20px 20px 20px 20px;
  color: #CBC9CF;
}

h3 {
  color: #FFF;
}

form {
  display:flex;
  background-color: #46424D;
  padding: 20px 100px 100px 100px;
  margin:20px;
  width:93%;
  flex-direction:column;
}

aside {
  width:33%;
  border-left: 3px solid #46424D;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

input {
  background: transparent;
  border: none;
  border-bottom: 1px solid #000000;
}

p img {
  height: 14px;
  margin-right: 5px;
}

.no-log-message {
  text-align: center;
  font-size: 14px;
  margin: 20px 20px 0px 20px;
}

.aside-section {
  margin: 0px 5% 0px 5%;
}
.logged-card {
  background-color: #46424D;
  border-radius: 5px;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
}

.card-margins {
margin: 5px 0px 0px 5px;
}

.new-activity {
margin-bottom: 0px;
}

.error-description {
  color: #EFB7EC;
}

.hide-error {
  display: none;
}

.category {
  width:20%;
  border: 2px solid #FFF;
  border-radius: 2px;
  background-color: #46424D;
  display: flex;
  flex-direction: column-reverse;
  font-size: 16px;
  align-items: center;
  color: #CBC9CF;
  height: 80px;
}

#button-layout {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.study {
  background-image: url(./assets/study.svg);
  background-repeat: no-repeat;
  background-position: 50% 30%;
  background-size: 40px 40px;
}

.meditate {
  background-image: url(./assets/meditate.svg);
  background-repeat: no-repeat;
  background-position: 50% 30%;
  background-size: 40px 40px;
}

.exercise {
  background-image: url(./assets/exercise.svg);
  background-repeat: no-repeat;
  background-position: 50% 30%;
  background-size: 40px 40px;
}

input {
  outline: none;
  color: #FFF;
  font-size: 14px;
  background: transparent;
  border: none;
  border-bottom: 1px solid #CBC9CF

}

.timer-input {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width:40%;
}

#timer-layout {
  display: flex;
  justify-content: space-between;
}

.change-green {
  border-color: #B3FD78;
  outline: none;
  background-image: url(./assets/study-active.svg);
  color: #B3FD78;
}

.change-purple {
  border-color: #C278FD;
  outline: none;
  background-image: url(./assets/meditate-active.svg);
  color: #C278FD;
}

.change-orange {
  border-color: #FD8078;
  outline: none;
  background-image: url(./assets/exercise-active.svg);
  color: #FD8078;
}

.submit-button {
  align-self: flex-end;
  width: 28%;
  padding: 2%;
  font-size: 14px;
  margin-bottom: 0px;
}

.timer-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#min, #sec, #colon{
  font-size: 50px;
  margin-bottom: 40px;
}

.hidden-timer {
  display: none;
}

.hidden-log-button{
  visibility: hidden;
}

.activity-start {
  border: 2px solid #FFF;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  color: #fff;
  background-color: #46424D;
  font-size: 20px;
}

.hide-form {
  display: none;
}

.green-border {
  border: 2px solid #B3FD78;
  outline: none;
}

.purple-border {
  border: 2px solid #C278FD;
  outline: none;
}

.orange-border {
  border: 2px solid #FD8078;
  outline: none;
}

#activity-timer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 20%;
  font-weight: ;
}

.log-activity-button {
  width: 200px;
  height: 30px;
  border-radius: 2px;
  margin-top: 10%;
  font-size: 14px;
}

.color-bar {
  height: 30px;
  width: 3px;
  margin: 10px;
}

.green-bar {
  background-color: #B3FD78;
}

.purple-bar {
  background-color: #C278FD;
}

.orange-bar {
  background-color: #FD8078;
}

.card-flex {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.spacing {
  margin-top: 70px;
}

.input-form {
  padding: 20px 100px 45px 100px;
}
#submit-form {
  margin-top: 50px;
}

.current-activity {
  margin-bottom: 0px;
}

.accomplish{
  font-size: 20px;
}
